<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <display-name>Archetype Created Web Application</display-name>


    <!--welcome file-->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--servlet name declare-->

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.collabease.controller.RegisterServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.collabease.controller.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.collabease.controller.LogoutServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TeamServlet</servlet-name>
        <servlet-class>com.collabease.controller.TeamServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProjectServlet</servlet-name>
        <servlet-class>com.collabease.controller.ProjectServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TaskServlet</servlet-name>
        <servlet-class>com.collabease.controller.TaskServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MemberDashboardServlet</servlet-name>
        <servlet-class>com.collabease.controller.MemberDashboardServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>com.collabease.controller.AdminDashboardServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ManagerDashboardServlet</servlet-name>
        <servlet-class>com.collabease.controller.ManagerDashboardServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>com.collabease.controller.ReportServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>com.collabease.controller.NotificationServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AllNotificationServlet</servlet-name>
        <servlet-class>com.collabease.controller.AllNotificationServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>NotificationBulkServlet</servlet-name>
        <servlet-class>com.collabease.controller.NotificationBulkServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ManageSection</servlet-name>
        <servlet-class>com.collabease.controller.ManageSectionServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EditEntityServlet</servlet-name>
        <servlet-class>com.collabease.controller.EditEntityServlet</servlet-class>
    </servlet>

    <!--servlet mapping-->

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/signin/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/signin/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/signin/LogoutServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TeamServlet</servlet-name>
        <url-pattern>/Manager/TeamServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProjectServlet</servlet-name>
        <url-pattern>/ProjectServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TeamServlet</servlet-name>
        <url-pattern>/TeamServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TaskServlet</servlet-name>
        <url-pattern>/TaskServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MemberDashboardServlet</servlet-name>
        <url-pattern>/MemberDashboardServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/AdminDashboardServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ManagerDashboardServlet</servlet-name>
        <url-pattern>/ManagerDashboardServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/NotificationServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AllNotificationServlet</servlet-name>
        <url-pattern>/AllNotificationServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>NotificationBulkServlet</servlet-name>
        <url-pattern>/NotificationBulkServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ManageSection</servlet-name>
        <url-pattern>/ManageSection</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EditEntityServlet</servlet-name>
        <url-pattern>/EditEntityServlet</url-pattern>
    </servlet-mapping>
</web-app>
